.draggeble {
  font-size: 12px;
  color: #2d2d2d;
  padding: 5px;
  background-color: #FFF;
};

.headline {
  draggable: false
}

/*Styling Vacatures*/
.vacature .imgVacature {
  width: 80% !important;
  height: auto !important;
}

.vacature .titleVacature {
  font-Size: 10px !important;
}

.vacature .DescriptionVacature{
  font-size: 8px !important;
}

.vacature .metaVacature {
  font-size: 8px !important;
}

/*Styling Artikel Klein*/

.kleinArtikel .imgKleinArtikel {
  width: 80% !important;
  height: 80% !important;
}

.kleinArtikel .titleKleinArtikel {
  font-size: 10px !important;
}

.kleinArtikel .DescriptionKleinArtikel {
  font-size: 8px !important;
}

.kleinArtikel .KleinArtikelCTA {
  font-size: 8px !important;
}

.kleinArtikel .tableDivider1 {
  height: 90px !important;
}

.kleinArtikel .tableDivider2 {
  max-height: 90px !important;
  line-height: 1;

}

/*Styling Artikel Groot*/

.grootArtikel {
  border: 1px solid #2d2d2d;
}

.grootArtikelAuthor {
  font-size: 7pt;
}

.grootArtikelDescription {
  font-size: 7pt;
}

.grootArtikelTitle {
  font-size: 9pt;
}

.ButtonImg {

}

.ButtonImgPressd {
  border-bottom: 5px solid #1483C6;
  color: #474747 !important;
}
